/* scrollbar and Chrome shit */

::selection {
    background: transparent;
    color: #fabf00;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: white;
}
::-webkit-scrollbar-thumb {
    background-color: #fabf00;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
button {
    outline: none;
}
@font-face {
    font-family: "Helvetica Thin";
    src: url(Fonts/HelveticaThin.otf);
}
@font-face {
    font-family: "Helvetica Light";
    src: url(Fonts/HelveticaLight.otf);
}
textarea:focus,
input:focus {
    outline: none;
}
.rotating.flip.cube {
    width: 100%;
}
#logo {
    width: 200px;
    display: inline;
}
td {
    font-family: Arial, sans-serif;
}
header {
    height: 310px;
    background-color: #fabf00;
    padding: 20px;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
}
body {
    background-color: white;
    margin: 0;
}
h1,
p.rotate.text-slide-title.primary-typo.strong {
    font-size: 40px;
    letter-spacing: 1px;
    font-family: Helvetica Light;
    color: white;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
}
h2 {
    font-size: 40px;
    color: #f1c40f;
    font-weight: normal;
    font-family: Helvetica Thin;
    margin: 0;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
}
.productheader {
    font-size: 40px;
    color: #f1c40f;
    font-weight: normal;
    font-family: Helvetica Thin;
    margin: 0;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
}
p {
    font-family: Segoe UI Light;
    font-size: 15px;
    color: #676767;
    margin: 0;
    font-weight: normal;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
}
img {
    width: 100%;
    display: block;
    margin: 0 auto;
}
header img {
    width: 400px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
}
.header2 {
    min-height: 500px;
    background-color: pink;
    padding: 20px 20px 20px 40px;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.header2 img {
    width: 400px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
}
.mainbody {
    margin-top: 3%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 60px;
}
#fullwidth table {
    margin-top: 5px;
}
#imagecontainer {
    float: left;
    width: 49%;
    margin-left: 3%;
    padding: 2%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
#infospace {
    width: 35%;
    float: right;
    padding: 2%;
    margin-right: 3%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding-bottom: 45px;
}
#image1container {
    padding: 0;
}
#image2container {
    float: left;
    width: 44.5%;
    padding: 2%;
}
#image3container {
    float: right;
    width: 44.5%;
    padding: 2%;
}
div#fullwidth {
    padding: 10px 40px 10px 40px;
    background-color: white;
}
.button {
    border: 1px solid #e5e5e5;
    background: white;
    padding: 5px;
    color: #fabf00;
    font: 14px "Arial";
    font-weight: 300;
    transition: all .50s ease-in-out;
    height: 30px;
}
.button:hover {
    color: white;
    background: #f1c40f;
    transition: all .50s ease-in-out;
}
.inputfield {
    height: 17px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 0px solid #e5e5e5;
    border-left: 0px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background: white;
    padding: 5px;
    color: #313233;
    font: 14px Source Sans Pro;
    font-weight: 300;
    letter-spacing: 0.8px;
    transition: width 1s;
    -webkit-transition: width 1s;
    font-family: Segoe UI Light, sans-serif;
}
h1.slogan {
    top: 50%;
    margin-top: 7%;
    font-size: 80px;
    font-family: Arial, sans-serif;
}
div#leftcontain {
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    width: 40%;
    padding: 30px;
}
#leftcontain h1 {
    color: #fabf00;
    text-align: left;
    margin: 0px;
    padding-bottom: 10px;
}
#leftcontain p {
    color: white;
    font-size: 15px;
    text-align: left;
}
button.contactbutt {
    color: white;
    background: #fabf00;
    transition: all .50s ease-in-out;
    border: 0;
    padding: 15px;
    font: 24px "Arial";
    font-weight: 300;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    float: left;
    border-radius: 3px;
}
button.contactbutt:hover {
    background: white;
    color: #fabf00;
}
#mainarticle {
    float: left;
    width: 43%;
    margin-left: 3%;
    padding: 1.4% 2% 1.5% 2%;
    background: url(Images/project1.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
#otherarticles {
    width: 44%;
    float: right;
    padding: .5%;
    margin-right: 3%;
    background: url(Images/project1.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
#articleinfo {
    width: 100%;
    background: url(Images/Articles/article1.jpg);
    background-size: 100% 100%;
}
.leftarticlecontainer {
    float: left;
    width: 45.5%;
    padding: 2%;
}
.rightarticlecontainer {
    float: right;
    width: 45.5%;
    padding: 2%;
}
footer {
    padding: 10px;
    background-color: #fabf00;
    overflow: hidden;
    padding: 20px 40px 20px 40px;
}
.demarticles {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.mainbody h1 {
    padding: 0px 0px 0px 40px;
    color: #fabf00;
}
footer img {
    width: 11%;
    float: left;
    display: inline;
    padding: 0px 40px 0px 0px;
}
footer a {
    display: inline;
}
.footcontain h4 {
    color: white;
    margin: 0px;
    font-family: Arial, sans-serif;
}
.footcontain {
    width: 20%;
    position: relative;
    padding: 0px 40px 0px 40px;
    float: left;
    text-align: left;
}
.footcontain p {
    color: white;
}
.footcontain ul {
    padding: 0;
    list-style: none;
}
.footcontain a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: Segoe UI Semilight, sans-serif;
}
#apcfooter {
    background: url(Images/APC.jpg);
    background-size: 100% 57%;
    background-attachment: fixed;
    height: 20px;
    color: white;
}
#apcfooter a {
    color: white;
    text-decoration: none;
}
button.userbutt {
    border: 1px solid #e5e5e5;
    background: white;
    padding: 5px;
    color: #fabf00;
    font: 14px "Arial";
    font-weight: 300;
    transition: all .50s ease-in-out;
    height: 30px;
}
button.userbutt:hover {
    color: white;
    background: #f1c40f;
    transition: all .50s ease-in-out;
}
header#mproj1 {
    background-image: url(Images/mproj1.jpg);
}
header#mproj2 {
    background-image: url(Images/mproj2.jpg);
}
header#mproj3 {
    background-image: url(Images/mproj3.jpg);
}
header#mproj4 {
    background-image: url(Images/mproj4.jpg);
}
header#mproj5 {
    background-image: url(Images/mproj5.jpg);
}
header#mproj6 {
    background-image: url(Images/mproj6.jpg);
}
div#maproj1 {
    background-image: url(Images/maproj1.jpg);
}
center {
    font-family: Segoe UI Light, sans-serif;
}